.App {
  text-align: center;
  height: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  position: fixed;
  font-size: 0.9em;
  color: white;
  padding: 20px;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.Scrambled-word {
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
